*
{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}
body
{
	background-color: #ffffff;
}
#outer
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#header
{
	width: 100%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 0;	
}
#header > #headerfirst
{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-bottom:1px solid #d0d0d0;
	border-radius:0 3px 3px 0;
	color:#444;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
}
#header > #headerfirst > #logo
{
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#header > #headerfirst > #logo > h2
{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@media (max-width:400px)
{
	#header > #headerfirst > #logo
	{
		width: 38%;
	}
	#header > #headerfirst > #logo > h2
	{
		font-size: 20px;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#outerbox
{
	width: 30%;
	height: 47%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 25px 25px 25px 25px;
	border: 1px solid #d0d0d0;
}
#outerbox > #inner1
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	border-radius: 25px 25px 0px 0px;
	//background-color: #0097e6;
	background-color: #2f3542;
	border-bottom: 1px solid #e4e4e4;
	color: #f5f6fa;
}
#outerbox > #inner1 > h2
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#outerbox > #inner2
{
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	height: 85%;
	border-radius: 0px 0px 25px 25px;
}
#outerbox > #inner2 > form
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #747d8c;
}
#outerbox > #inner2 > form > #profilesection
{
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 90%;
}
#outerbox > #inner2 > form > #profilesection > table
{
	position: absolute;
	width: 80%;
	top: 10%;
	left: 15%;
	font-size: 14px;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr
{
	height: 80px;
	letter-spacing: 1px;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > input
{
	border:none;
	border-bottom: 1px solid #e4e4e4;
	outline: none;
	margin-bottom: 6px;
	width: 80%;
	font-weight: bold;
	background-color: transparent;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > i
{
	cursor: pointer;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > #user_name_error
{
	color: red;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > #password_name_error
{
	color: red;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
}
/*#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > #error > p
{
	width: 80%;
    font-weight: bold;
}*/
#outerbox > #inner2 > form > #profilesection > #submitbutton
{
	width: 85%;
	height: 13%;
	position: absolute;
	top: 81%;
	left: 18%;
	display: inline;
}
#outerbox > #inner2 > form > #profilesection > #submitbutton > input
{
	width: 30%;
	display: inline;
	height: 100%;
	border: 1px solid #e4e4e4;
	border-radius: 20px 20px 20px 20px;
	outline: none;
	cursor: pointer;
	border: 1.5px solid #2f3542;
	background-color: #fff;
	color: #2f3542;
	font-weight: bolder;
}
#outerbox > #inner2 > form > #profilesection > #submitbutton > input:nth-child(1)
{
	margin-right: 10%;
}
#outerbox > #inner2 > form > #profilesection > #submitbutton > input:hover
{
	background-color: #2f3542;
	color: #f5f6fa;
	transition: .3s;
}
#outerbox > #inner2 > form > #profilesection > #importantnote
{
	width: 100%;
	height: auto;
	position: absolute;
	top: 100%;
	left: 0%;
	display: inline;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	color: red;
}
@media (max-width:400px)
{
	#outerbox
	{
		width: 80%;
		height: 60%;
	}
	#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > select
	{
		font-size: 17px;
		width: 40%;
	}
	#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > #error
	{
		font-size: 11.5px;
	}
	#outerbox > #inner2 > form > #profilesection > #importantnote
	{
		left: 6%;
	}	
}
#footer
{
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	left: 0;	
}
#footer > #devlopername
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-top:1px solid #d0d0d0;
	border-radius:0 3px 3px 0;
	color:#444;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
}
#footer > #devlopername > h2,#footer > #devlopername > h3
{
	position: relative;
	width: auto;
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	letter-spacing: 1px;
}
#footer > #devlopername > h3 > a
{
	text-decoration: none;
	color: unset;
}
#footer > #devlopername > h3 > a:hover
{
	color: #0097e6;
}
#footer > #devlopername > ul
{
	position: absolute;
	display: inline-block;
	width: 20%;
	text-align: center;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	letter-spacing: 1px;
}
#footer > #devlopername > ul > li
{
	display: inline-block;
	width: auto;
	margin: 5%;
}
#footer > #devlopername > ul > li > a
{
	text-decoration: none;
	color: unset;
}
#footer > #devlopername > ul > li > a > i:hover
{
	color: #0097e6;
}
@media (max-width:400px)
{
	#footer > #devlopername > h2
	{
		font-size: 18px;
	}
	#footer > #devlopername > h3
	{
		font-size: 16px;
	}
	#footer > #devlopername > ul
	{
		width: 30%;
		left: 85%;
	}
}